.winer_profil {


  h1 {
    color: white;
    text-align: center;
    margin: auto;
    height: 340px;
    line-height: 300px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3rem;
  }

  &_main {
    &_photo {
      width: 150px;
      border-radius: 200px;
      margin: -150px auto auto;
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px;
      -ms-border-radius: 200px;
      -o-border-radius: 200px;
    }

    .tab {
      display: grid;
      grid-template-columns: 10% 90%;
      &_list {
        background-color: #632624;
        width: 100%;
        padding: 0;
        margin: 0 1px auto;
        color: #d0b0af;
        height: 402px;
        li {
          background-color: #632624;
          writing-mode: vertical-rl;
          transform: rotate(180deg);
          list-style: none;
          font-size: 1.4rem;
              height: 140px;
          width: 100%;
          text-align: center;
          transition: all 0.3s;
          padding-top: 30px;
          padding-bottom: 30px;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: vertical-rl;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;

          &:hover,
          &:focus {
            background-color: #9b4843;
            height: 180px;
            width: 100%;
            cursor: pointer;
          }
        }
        .change_active {
          background-color: #9b4843;
          height: 180px;
        }
      }
      &_content {
        width: 100%;
        background-color: #9b4843;

        h2 {
          margin-top: 50px;
          text-align: center;
          color: #d0b0af;
        }

        .grid_bottle {
          margin: 80px auto 50px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-row-gap: 40px;

          div {
            padding: 0 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .winer_profil_main {
    .tab_content {
      .grid_bottle {
        grid-template-columns: repeat(2, 1fr);
         div {
          padding: 0px 6px;
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .winer_profil {
    height: 285px;
    h1 {
      font-size: 1.5rem;
      height: 285px;
      line-height: 141px;
    }
    &_main {
      margin-top: -54px;
      .tab {
        grid-template-columns: 100%;

        &_list {
          display: flex;
          height: 100px;
          margin: 0 0 -1px;
          li {
            width: 330px;
            height: 100px;
            padding: 0;
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
            -webkit-writing-mode: horizontal-tb;
            -ms-writing-mode: horizontal-tb;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);

            &:hover,
            &:focus {
              height: 100px;
              padding: 5px;
            }

            .change_active {
              height: 100px;
            }
          }
        }
        &_content {
          .grid_bottle {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 60px;
            div {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@import "./Bottle/Bottle";