.cave-tab {
    position: absolute;

    width: 100%;
    height: 100%;

    &__header {
        text-transform: uppercase;
        text-align: center;
        
        letter-spacing: 2px;
        font-size: 4rem;

        color: $wewine3;

        margin: 6rem 0;
    }

    &__caves {
        margin: 4rem;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-auto-rows: 16rem;
        gap: 2rem;
    }
}

@import "./CaveCard/CaveCard";