@font-face {
    font-family: "comfortaa-bold";
    src: url("./fonts/comfortaa/Comfortaa_Bold.ttf");
}

@font-face {
    font-family: "comfortaa-regular";
    src: url("./fonts/comfortaa/Comfortaa_Regular.ttf");
}

@font-face {
    font-family: "comfortaa-thin";
    src: url("./fonts/comfortaa/Comfortaa_Thin.ttf");
}