.app {
    display: grid;
    grid-template-rows: max-content 1fr;

    height: 100vh;
}

.app-landing {
    height: 100vh;
    
    &__bg {
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        background: url('./assets/index.png') no-repeat center;
        background-size: cover;
        filter: blur(10px) brightness(75%);
        transform: scale(1.1);
    }
}


@import "./LandingPage/LandingPage";
@import "./Login/Login";

@import "./components/Header/Header";
@import "./components/Main/Main";