.cave-card {

    &__body {
        position: relative;

        width: 90%;
        transform: translateX(10%);

        background-color: $wewine3;
        color: $wewine2;
                
        padding: 5rem 2rem 6rem 5rem;
        border-radius: 2rem;
        
        
    }

    &__delete {
        cursor: pointer;
        position: absolute;

        top: 2rem;
        left: 2rem;

        fill: $wewine2;
        height: 1.5rem;
    }

    &__update {
        cursor: pointer;
        position: absolute;

        top: 1.2rem;
        right: 2rem;

        fill: $wewine2;
        height: 2rem;
    
}

    &__name {
        text-transform: uppercase;
        letter-spacing: 2px;
        

        font-size: 2.5rem;
        
        margin-bottom: 1.5rem;
    }

    &__max-count {
        font-size: 1.25rem;
        color: $wewine1;
        font-family: $fontbody;
    }

    &__footer {
        cursor: pointer;

        transform: translateY(-65%);

        padding: 2rem;

        border-radius: 2rem;
        background-color: $wewine2;
        font-family: $fontbody;
        
        width: 90%;
        height: 8rem;

        display: flex;
        align-items: center;

        transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

        .--cellarSvg {
            fill: $wewine1;
            height: 100%;
        }

        &:hover {
            transform: translateY(-75%);
        }
    }

    &__current-count {
        margin-left: 1rem;
        color: $wewine1;
        font-family: $fontbody;

        letter-spacing: 1px;
        font-size: 1.25rem;
    }
}