.content {
    position: relative;
    
    overflow-y: auto;
    overflow-x: hidden;

    &.--not-scrollable {
        overflow: hidden;
    }

    &__return {
        cursor: pointer;
        position: absolute;

        top: 2rem;
        left: 4rem;

        height: 5rem;
        fill: white;
    }
}

@import "./SearchTab/SearchTab";
@import "./Pages/Account/Account";
@import "./Pages/Cave/Cave";
@import "./Pages/Home/Home";
@import "./Pages/Bottles/Bottles";

@import "./Pages/Modal";